.form{
    gap :5rem;
    align-items: center;

}
.form-land{
    gap: 3rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid yellowgreen;

}

.addheader{
    text-align:center;
    background-color:yellow;
}
.file{
    width:100%;
    align-items:center;
    border-radius:5px solid black;
}

.facility{
text-align: center;
font-size: medium;
    gap: 5rem;
    margin: left 25px;
    padding: 1px;
    width: 30px;
    border-radius: 2px ;
}
.descrip{
    margin: 2px;
    padding: 25px;
    width: 400px;
    border-radius:3px ;
  


}
.check{
    gap:3rem;
    padding: 2px;
    margin: auto;
}
.title{
    margin: 2px;
    padding:15px;
    width:280px;
    border-radius:3px ;
   

}
.rent{
    margin: 2px;
    padding: 10px;
    width: 100px;
    border-radius:3px ;
   

}
.address{
    margin: 2px;
    padding: 15px;
    width: 300px;
    border-radius:3px ;
 

}
.city{
    margin: 2px;
    padding: 20px;
    width: 250px;
    border-radius:3px ;
  

}