.signup{
    margin-left:50px;
}
.inputbox{
    display: block;
    margin: 20px;
    padding: 8px;
    width: 280px;
    border-radius:3px ;
    border: 2px solid greenyellow;

}
.appbutton{
    margin: 25px;
    padding: 8px;
    width: 280px;
    border-radius: 4px;
    background-color: blue;
    border: 2px solid black;
}